<div class="card shadow-effect">
  <div class="card-body">
    <div class="text-center mt-3 mb-5">
      <h3>SUBSCRIPTION FORM</h3>
      <p class="m-auto subs-text">
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores
        impedit temporibus officia architecto aut in quo quas, earum iusto
        rerum, optio nisi! Alias repellendus, sunt blanditiis corrupti ducimus
        veniam id.
      </p>
      <form action="" class="mb-5 mt-5">
        <div class="row g-3 justify-content-center">
          <div class="col-12 col-md-4">
            <input type="text" class="form-control shadow-effect w-100" placeholder="Your Name">
          </div>
          <div class="col-12 col-md-4">
            <input type="email" class="form-control shadow-effect w-100" placeholder="Email Address">
          </div>
          <div class="col-12 col-md-2">
            <button type="submit" class="btn btn-info w-100 btn-sub">SUBSCRIBE</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
