<section class="mt-5">
  <div class="container mt-5 mb-5 p-5 bg-theam">
    <h1 class="text-white text-center">About Us</h1>
    <div class="p-5 mt-4 bg-secondary-theam">

      <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Et similique consequatur voluptas vitae id asperiores sapiente quis, quasi aliquid. Numquam commodi accusamus, debitis dicta ea omnis ipsa hic voluptatum totam.
      </p>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perspiciatis nemo voluptate quos voluptas, atque suscipit officiis eum itaque, cumque iure cupiditate incidunt architecto molestiae obcaecati eligendi quaerat minus. Corrupti, quas in praesentium obcaecati distinctio nobis odit modi illo dolor nisi aperiam architecto, repellat libero magnam velit facere atque reiciendis, blanditiis facilis dignissimos unde neque quisquam voluptate dolorem. Delectus ducimus nulla blanditiis ratione similique eligendi suscipit nobis et alias. Minima corrupti corporis deleniti maiores itaque quia eaque et tempore voluptas! Voluptas, deserunt! Distinctio rem a deserunt nemo error eius voluptate illum, fugiat soluta sunt harum quidem molestiae! Eum temporibus dolores tempora.</p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Eaque laborum blanditiis id totam? Rerum reprehenderit ea, architecto aspernatur quia perferendis earum, vel aperiam expedita, obcaecati corrupti ipsam! Enim animi eos ullam, itaque obcaecati voluptatum ratione accusantium officiis, tempora labore ab, reiciendis et totam maxime. Eligendi corrupti autem vitae dolore, reprehenderit tempora quas? Sapiente, a iusto. Iste quae magnam iure commodi atque veritatis quaerat beatae eaque eum repellat a repudiandae eveniet, molestiae maiores vitae sed blanditiis omnis sit ipsum odit itaque aperiam nesciunt ducimus. Voluptatem a, impedit nesciunt quibusdam repudiandae obcaecati dolores officia odit magni neque blanditiis voluptatum aperiam fugiat rerum.</p>
      <div class="text-center">
        <button class="btn btn-info btn-sm mt-4 btn-sub" [routerLink]="['/']" style="cursor: pointer;">
            Back to Home
        </button>
      </div>
    </div>
  </div>
</section>
