<div class="container">
  <div class="row">
    <div class="col-md-9">
      <div class="card shadow-effect">
        <img
          src="https://www.shutterstock.com/image-illustration/painting-artistic-drawing-herd-arabian-600w-1952196856.jpg"
          alt=""
          class="src"
        />
        <div class="card-body shadow-effect">
          <small class="bg-light text-danger text-center">Design </small>
          <small class="bg-light text-success text-center ml-3">
            Featured
          </small>
          <small class="bg-light text-info text-center ml-3">
            views -100,256</small
          >
          <small class="bg-light text-warning text-center ml-3"
            >LAST UPDATED-MARCH 16,2023
          </small>
          <h1 class="mt-3 mb-3">Lorem ipsum dolor sit amet.</h1>
          <p>
            Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fuga
            quibusdam adipisci voluptatem, sunt eos, voluptatum doloremque
            obcaecati consequuntur deleniti recusandae repellat ab accusamus
            unde explicabo nam dicta quaerat maiores, inventore nobis maxime
            expedita. Minus provident nulla autem! Delectus, tempora! Iusto
            fugiat officiis magnam quisquam, facere esse reiciendis dolores
            aspernatur mollitia unde numquam nihil repellat obcaecati distinctio
            libero asperiores cum? Enim facere laborum aut commodi nesciunt
            facilis fugiat repudiandae quidem at sint? Corporis distinctio ab
            eaque suscipit! Commodi aperiam voluptates perspiciatis omnis libero
            fugiat a modi magnam animi harum, hic nihil alias consequatur at
            suscipit error eaque esse quibusdam possimus officiis nemo, incidunt
            illum. Impedit perspiciatis aut ad doloribus quae accusamus
            repellendus consectetur inventore autem odit! Earum esse aliquid
            numquam perspiciatis dicta laborum repellat eos nihil repellendus
            voluptatum corrupti at maxime obcaecati in, recusandae accusantium
            sint iure nam laudantium omnis temporibus dolore odit quisquam.
            Natus iste inventore itaque ad minus nam, consequuntur, fugiat ipsum
            obcaecati ipsa voluptas eaque optio debitis doloribus, cupiditate
            provident laboriosam repellendus nesciunt. Omnis consectetur qui
            excepturi laboriosam dolor. Placeat dolores facere exercitationem
            dignissimos! Earum reprehenderit vero dignissimos, praesentium eius
            unde natus molestias, consequatur doloremque quod hic ut delectus?
            Atque aspernatur sed magni rem, eius consequuntur quasi quis nam
            explicabo nisi. Ea repellendus tempore laudantium ab maxime
            dignissimos soluta reprehenderit commodi quaerat, in accusantium
            itaque odio quasi enim vitae maiores magni illum, perferendis
            asperiores corrupti ipsam incidunt porro vero sint. Illum magnam
            tempore quos eum dignissimos dicta architecto, aperiam maxime
            perferendis libero molestiae voluptas sint sequi voluptatem odio.
            Harum est architecto illum repellendus labore non quos consequuntur
            modi rerum voluptas totam ab neque doloremque quae perferendis,
            impedit aspernatur natus maxime aperiam! Accusamus odit, expedita
            nam obcaecati ea omnis reiciendis dignissimos a quisquam
            necessitatibus molestiae excepturi quia cum fugiat tempore pariatur
            illo corporis eos molestias cupiditate tenetur, officiis dolorem?
          </p>
        </div>
      </div>
      <app-comment-form></app-comment-form>
      <app-comment-list></app-comment-list>
    </div>
    <div class="col-md-3">
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
      <app-post-card></app-post-card>
    </div>
  </div>
</div>
