<div class="card shadow-effect">
    <img src="https://www.shutterstock.com/image-illustration/painting-artistic-drawing-herd-arabian-600w-1952196856.jpg" alt="post-image" class="card-img-top">
    <div class="card-body">
        <small class="bg-light text-danger text-center">Design </small>
        <small class="bg-light text-success text-center ml-3"> Featured </small>
        <small class="bg-light text-info text-center ml-3"> views -100,256</small>
        <h5 class="mt-1">HOW TO START BLOG IN 2023 </h5>
        <P>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dolore magnam iusto rem distinctio, aperiam, soluta velit, sint nostrum cupiditate natus esse quis necessitatibus fuga quod ad molestiae? Maiores, consequuntur ut.</P>
        <small class="bg-light text-warning text-center ml-3">LAST UPDATED-MARCH 16,2023</small>

   
    </div>

</div>